/* CSS FOR MAKE TOGGLE STATUS CHECKBOX START */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  /* background-color: #2196F3; */
  background-color : rgb(27, 185, 154);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(27, 185, 154);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* CSS FOR MAKE TOGGLE STATUS CHECKBOX END */

/* CSS for making notification Icon design START */
.noti-wrapper {
    position: relative;
    display: inline-block;
}

.noti-icon {
    font-size: 26px;  /* bell size */
    color: #fff;      /* bell color */
}

.noti-icon-badge {
    position: absolute;
    top: 15px !important;   /* move above bell */
    right: 1px !important; /* stick to right edge */
    background: #ff3b30;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    line-height: 1;
    min-width: 25px;
    height: 22px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CSS for making notification Icon design END */ 